@import url('./_disabled/form__button_disabled.css');

.form__button {
  font-family: 'OpenSans-Regular', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  max-inline-size: 400px;
  color: white;
  margin-block-start: 30px;
  background: transparent;
  text-transform: uppercase;
  padding-block: 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  transition: opacity .8s ease;
}

.form__button:hover {
  opacity: .3;
}