@import url('./_disabled/form__button_disabled.css');
@import url('./_toggle/form__button_toggle.css');

.form__button {
  min-inline-size: 320px;
  font-family: 'OpenSans-Regular', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  color: white;
  margin-block-start: 20px;
  background: transparent;
  text-transform: uppercase;
  padding-block: 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  transition: opacity .5s ease;
  background-color: #202020;
}

.form__button:hover {
  opacity: .3;
}