*,
*::before,
*::after {
  box-sizing: border-box;
}
 
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
 
ul,
ol {
  list-style: none;
}

.page {
  min-inline-size: 375px;
  display: grid;
  position: relative;
  margin: auto 0;
  padding-inline: 10px;
  opacity: .9;
  color: white;
  background: black;
  letter-spacing: 1.2px;
}
