.input__flag_type_checkbox {
  position: relative;
  margin-inline-end: 4px;
  bottom: -3px;
  display: inline-block;
  transition: background-color .3s ease;
  border-radius: 2px;
}

input[type='checkbox'] + span {
  inline-size: 20px;
  block-size: 20px;
  background-color: white;
}

input[type='checkbox']:checked + span {
  position: relative;
  bottom: -3px;
  background-color: green;
  border: 3px solid white;
}

input[type='checkbox']:focus-visible + span {
  outline: none;
}