.info__text {
  margin-block-end: 20px;
}

.info__text:first-child {
  margin-block-end: 30px;
}

.info__text:last-child {
  margin-block-start: 30px;
  margin-block-end: 0;
}

.info__text:first-child,
.info__text:last-child {
  text-transform: uppercase;
  font-size: 20px;
}